#resharper
StringCalculator/_ReSharper.*/*
StringCalculator/_ReSharper.*/**/*
StringCalculator/*.resharper.user

#binaries
StringCalculator/*.suo
StringCalculator/**/obj
StringCalculator/**/obj/*
StringCalculator/**/obj/**/*
StringCalculator/**/bin
StringCalculator/**/bin/* 
StringCalculator/**/bin/**/*

*.user
